@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
  background-color:hsl(212, 45%, 89%);
}

img {
  object-fit:cover;
  height:250px;
  width:100%;
  border-radius:inherit;
}

.card {
  margin:200px auto;
  width:20%;
  height:430px;
  background-color:hsl(0, 0%, 100%);
  padding:15px;
  border-radius:10px;
  text-align:center;
  font-family:'Outfit', sans-serif;
  font-size:15px;
  
}

.text {
  margin-top:30px;
  
}


h3 {
  font-weight:700;
  margin-bottom:0px;
  margin-top:0px;
  color:hsl(218, 44%, 22%);
  font-size:20px;
  
}

p {
  color:hsl(220, 15%, 55%);
  font-size:15px;
}
